/*Styles to assist with debugging*/
body {
	background-color: LightGray;
}
div, ul, li, p, h1, h2, h3, h4, h5 {
	/*border: 1px solid Chocolate;*/
}

/*Global Best Practices*/
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;

}
*, *:before, *:after {
	box-sizing: inherit;
}
/*applies to multiple sections*/
.overview .content, .portfolio .content, .footer .content {
	font-size:1.5rem;
	padding-left:6rem;
	padding-right:6rem;
	width:100%;
	padding-top: 5rem;

}
/*Applies to all but left-hand nav & intro section*/
.overview, .portfolio, .footer {
	margin-left: 15rem;
	text-align: center;
	font-family: 'Fauna One', serif;
	height:60rem;
	background:#EDF1F2;

}
ul {
	padding-left:0;

}
li {
	border-top:1px #EDF1F2 solid;

}
h1, h3 {
		font-family: 'Playfair Display SC', serif;
}
/*Navigation Section*/
.navigation-header {
	display:block;
	left:0;
	position:fixed;
	width:15rem;
	height:100%;
	background-color: #EDF1F2;
	color:#3F3F3F;
	border-right:#808A89 1px solid;
}
.navigation-header .icon {
	margin:3rem;
	margin-left: auto;
	margin-right: auto;
	height:5rem;
	width:5rem;
	color:#BF3A3D;
	text-align: center;
	border:2px #A6604C solid;
	font-family: 'Playfair Display SC', serif;
	text-transform: uppercase;
}
.navigation-header .icon h1 {
	margin:0;

	font-size: 32.5px;
}
.navigation-header .icon h3 {
	margin:0;
	font-size:17.5px;
}
.navigation-header .navigation-conent {

}
.navigation-header .navigation-conent .navlinks > li {
	list-style:none;
	font-family: 'Playfair Display SC', serif;
	text-transform: uppercase;
	margin-left: 1rem;
	padding-top: 1rem;
	font-size: 1.5rem;
}
.navigation-header a {
	color:#3F3F3F;
	text-decoration: none;
	font-weight: lighter;
}
.navigation-header a:hover {
	color:blue;
}

/*Introduction Section*/
.introduction {
	background-image:url(../img/using-iphone-6-on-business-meeting-picjumbo-com.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:60rem;
	margin-left: 15rem;
	text-align: center;
}
.introduction .content {
	padding-top:12.5rem;
	color:#EDF1F2;
	font-weight: bold;
}
.introduction h1 {
	text-shadow:
		-1px -1px 0 black,  
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
.introduction h3 {
	margin-top: 8rem;
	text-shadow:
		-1px -1px 0 black,  
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
/*Overview Section*/
.overview h1 {
	color: #EDF1F2;
	background: #3F3F3F;
	border-radius: 1.5rem;
	padding: 3rem 5rem 3.5rem 5rem;
	margin: 0 auto 0 auto;
	display: table;
}
.overview p {
	margin-top: 5rem;
	text-align:justify;
	padding: 3rem;
}
/*Portfolio Section*/
.portfolio {
	height:100%
}
.portfolio .projectintro {
	background:#EDF1F2;
}
.portfolio h1{
	color: #EDF1F2;
	background: #3F3F3F;
	border-radius: 1.5rem;
	padding: 3rem 5rem 3.5rem 5rem;
	margin: 0 auto 0 auto;
	display: table;
}
.portfolio h3 {
	color: #EDF1F2;
	background: #3F3F3F;
	border-radius: 1.5rem;
	padding: 1.5rem 2.5rem 1.75rem 2.5rem;
	margin: 5rem auto 0 auto;
	display: table;
}
.portfolio p {
	margin-top: 5rem;
	text-align:justify;
	padding: 3rem;
}
.portfolio .content li{
	height:60rem;
	background:#EDF1F2;
	list-style:none;
	padding-left:0;
	border-bottom: 1px solid black;
	padding-bottom: 3rem;
}
/*footer section*/
.footer {
	padding-top:20rem;
}
.footer p {
	padding: 3rem 10rem 3rem 10rem;
	font-size: .5em;
}